<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Students</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/custom.css' %}">
</head>
<body>
    <div class="container">
        <h1>Manage Students</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Profile Pic</th>
                    <th>Barcode</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.admin.first_name }}, {{ student.admin.last_name }}</td>
                    <td>{{ student.admin.email }}</td>
                    <td>{{ student.admin.gender }}</td>
                    <td><img src="{{ student.admin.profile_pic.url }}" alt="Profile Pic" class="img-fluid"></td>
                    <td><img src="{{ student.admin.barcode.url }}" alt="Barcode" class="img-fluid barcode-box"></td>
                    <td>
                        <div class="action-buttons">
                            <a href="{% url 'edit_student' student.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_student' student.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>