{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <div id="success-alert" class="alert alert-success mt-2 mx-auto w-50 text-center d-none">
                        Attendance Reported Successfully
                    </div>
                    
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">

                        <div class="form-group">
                            <label>Student ID</label>
                            <input class="form-control" type="text" name="student_id" autofocus id="student">
                            <span id="student-span"></span>
                        </div>
                        
                        <div class="form-group">
                            <label>Student Name</label>
                            <input class="form-control" disabled type="text" autofocus id="student-name">
                        </div>

                        <div class="form-group">
                            <label>Subject</label>
                            <select name="subject" class="form-control" id='subject'>
                                <option value="">----</option>
                                {% for subject in subjects  %}
                                <option value="{{subject.id}}">{{subject.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Session Year</label>
                            <select name="session" id='session' class="form-control">
                                <option value="">----</option>
                                {% for session in sessions  %}
                                <option value="{{session.id}}">{{session}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Attendance Date</label>
                            <input type="date" value="{% now 'Y-m-d' %}" class='form-control' name="attendance_date" id='attendance_date' id="">
                        </div>
                        <button type="submit" class="btn btn-success btn-block" id="save_attendance">Take Attendance</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
<script>
    $(document).ready(function () {       
        $("#student").on('keyup' , function () {
            var student_id = $(this).val()
            if(student_id.length == 0){
                $('#student-span').html('')
                $("#student-name").val('')
                return
            }
            $.ajax({
                url: "{% url 'student_details' %}",
                type: 'POST',
                data: {
                    student_id: student_id,
                }
            }).done(function (response) {
                $("#student-name").val(response.name)
            }).fail(function (response) {
                $("#student-name").val('')
                span = $('#student-span')
                span.css('color' , 'red')
                span.html('Student not found')
            })



            $(document).on('click', '#save_attendance', function () {
                $(this).attr("disabled","disabled")
                $(this).text("Saving Attendance Data...")
                var attendance_date = $('#attendance_date').val()
                var student_id = $('#student').val()
                var subject = $('#subject').val()
                var subject = $('#subject').val()
                var session = $('#session').val()

                if (attendance_date.length < 10){
                    alert("Select date")
                    return false;
                }
                $.ajax({
                    url: "{% url 'save_attendance_barcode' %}",
                    type: 'POST',
                    data: {
                        date: attendance_date,
                        student_id: student_id,
                        subject: subject,  
                        session: session          
                    }
                }).done(function (response) {
                    $('#success-alert').removeClass('d-none')
                    setTimeout(() => {
                        location.reload()
                    }, 1500);
                }).fail(function (response) {
                    alert("Error in saving attendance")
                })
    
            })


        })
    })
</script>
{% endblock custom_js %}