{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Course</th>
                                    <th>QR Code</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>{{student.first_name}}, {{student.last_name}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.gender}}</td>
                                    <td>{{student.student.course.name}}</td>
                                    <td>
                                        {% if student.qr_code %}
                                        <div class="text-center">
                                            <img class="img img-fluid mb-2" style="width: 56px; height: 56px;"
                                                src="/media/{{student.qr_code}}" alt="QR Code">
                                            {% if student.student_code %}
                                            <div class="font-weight-bold">ID: {{student.student_code}}</div>
                                            {% endif %}
                                        </div>
                                        {% else %}
                                        No QR Code
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                        <a href="{% url 'edit_student' student.student.id %}" class="btn btn-info">Edit</a> -
                                        <a href="{% url 'delete_student' student.student.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}