{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<style>
    /* Table styles */
    .table {
        width: 100%;
        margin-bottom: 1rem;
        table-layout: fixed;
    }
    /* Fixed column widths */
    .table th:nth-child(1) { width: 5%; }
    .table th:nth-child(2) { width: 20%; }
    .table th:nth-child(3) { width: 20%; }
    .table th:nth-child(4) { width: 10%; }
    .table th:nth-child(5) { width: 15%; }
    .table th:nth-child(6) { width: 15%; }
    .table th:nth-child(7) { width: 15%; }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Course</th>
                                    <th>Avatar</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in allStaff %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{staff.first_name}}, {{staff.last_name}}</td>
                                    <td>{{staff.email}}</td>
                                    <td>{{staff.gender}}</td>
                                    <td>{{staff.staff.course.name}}</td>
                                    <td>
                                        {% if staff.profile_pic == ""  %}
                                        No Image
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="56" width="56"
                                            src="{{staff.profile_pic}}" alt="">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_staff' staff.staff.id %}" class="btn btn-info">Edit</a> - 
                                        <a href="{% url 'delete_staff' staff.staff.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>
                                    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}